$color1: #eee;


#root {
  background-color: $color1;
}
.number {
  font-family: sans-serif;
  width: 3em;
  height: 3em;
  line-height: 3em;
  display: inline-block;
  border: 1px solid black;
  border-radius: .25em;
  margin: .5em;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  background-color: #99e;
}
